<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PHTTPC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PHTTPC.Properties.Settings>
            <setting name="port" serializeAs="String">
                <value />
            </setting>
            <setting name="ip" serializeAs="String">
                <value />
            </setting>
            <setting name="directory" serializeAs="String">
                <value />
            </setting>
            <setting name="pypath" serializeAs="String">
                <value />
            </setting>
            <setting name="sphp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useipv6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="logname" serializeAs="String">
                <value>phttpc.log</value>
            </setting>
            <setting name="doappend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enable_bss" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="do_console_log" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="int_value" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="do_ip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="trg_arg_IP" serializeAs="String">
                <value>False</value>
            </setting>
        </PHTTPC.Properties.Settings>
    </userSettings>
</configuration>